*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    
   /* font-family: 'Open Sans'; */
    text-decoration: none;
}   

/*<--------------------------HEADER----------------------------------->*/

header{
    width: 100%;
    height: 80px;
    background: url(imagenes/Fondo3.jpg) no-repeat;
    background-size: cover;
    
    padding: 10px;
    position: fixed;
    z-index: 100;
}
.contenedor-top{
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 99%;
    display: flex;
    margin: 10px auto 20px 10px;
}

.logo{
    width: 150px;
    margin: -25px 0 10px;
}
.esquina-izquierda a{
    font-size: 23px;
    color: rgba(255,255,255,0.7);
    padding: 25px 15px 28px;
}

.esquina-izquierda a:hover{
    text-decoration: none;
    color: white;
    background: rgba(0,0,0,0.1);
}

.esquina-derecha .icono{
    font-size: 23px;
    position: relative;
    margin: 0 30px 0 0;
    color: rgba(255,255,255,0.7);
    
}

.esquina-derecha .icono:hover{
    color: rgba(48, 28, 156, 0.7);
}

.esquina-derecha .sesion{
    font-size: 15px;
    color: rgba(255,255,255,0.7);
    border: white solid 1px;
    padding: 15px 18px 15px;
    margin: 0 10px -100px;
}

.esquina-derecha .sesion:hover{
color: white;
text-decoration: none;
background-color: rgba(0,0,0,0.1);
}



.contenedor-bottom{
    display: flex;
    justify-content: center;
    
}

#ctn-bars-search{
    position: fixed;
    top: 80px;
    width: 100%;
    padding: 0 0 10px;
    z-index: 100;
    display:none;
    
}
#ctn-bars-search input{
    width: 100%;
    margin: auto;
    padding: 10px;
    font-size: 15px;
    outline: 0;
}

#box-search{
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 1200px;
    background: #fff;
    z-index: 100;
    overflow: hidden;
    display: none;
}

#box-search li a{
    display: block;
    width: 1200px;
    color: #777777;
    padding: 12px 20px;
}

#box-search li a:hover{
    background: #f3f3f3;
    text-decoration: none;
}

#box-search li a i{
    margin-right: 10px;
    color: #777777;
}


#cover-ctn-search{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 1;
    display: none;
}

.grid-container{
    position: relative;
    padding: 90px 10% 0 13%;
    display: grid;
    grid-template-columns: repeat(4, 20%);
    grid-column-gap: 80px;
    grid-row-gap: 15px;
    
}

.card_art {
    padding: 20px;
    text-align: center;
    grid-template-areas: "title" "image" "information";
    grid-template-rows: 15px 120px 70px;
    border-radius: 18px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.9);
    border-color: black;
  }
.card-cart {
    padding: 20px;
    text-align: center;
    display: grid;
    grid-template-areas: "title" "image" "information";
    grid-template-rows: 15px 120px 70px;
    border-radius: 18px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.9);
    border-color: black;
}
.card_art-title {
    grid-area: title;
}
.card_art-image {
    grid-area: image;
    background-size: cover;
    background-position: center;
}
.card_art-information {
    grid-area: information; 
}
.card_art-puntuation{
    margin: 0 0 5px;
}


/* contador del carrito */
.contador {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin:0px auto;
    padding:3%
}

.contador > h4 {
    vertical-align: middle;
    font-family: sans-serif;
    color: white;
    font-size: 1rem;
    font-weight: bold;
}

.menu{
    position: relative;
    padding: 90px 5% 0 5%;
}

.input_art{
    max-width: 50px;
}

.responsive-image {
  width: 100%;
  max-width: 100px;
  height: auto;
}